<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Page</title>
   
</head>
<body>
    <h1 align="center">My Age Page</h1>
    <table align="center" border="2px" collspan="10px">
        <tr>
         <th>G.R.Id</th>
         <th>Name</th>
         <th>Courch</th>
         <th>Month</th>
         <th>Age</th>
        </tr>
        <tr>
            <td>8689</td>
            <td>Sagar</td>
            <td>Full Stack</td>
            <td>15 Month</td>
            <td>24</td>
        </tr>
         <tr>
            <td>8546</td>
            <td>Dipak</td>
            <td>Web Desinghre</td>
            <td>12 Month</td>
            <td>23</td>
        </tr>
        <tr>
            <td>9424</td>
            <td>Dhrumi</td>
            <td>Full Stack Dev</td>
            <td>15 Month</td>
            <td>24</td>
        </tr>
    </table>

</body>
</html>